*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
variables.json
jdauphant.nginx
vault.key

#Vagrant and molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
.venv/

*.tar
*.pub
credentials.json
google_compute_engine